@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1, h2, h3, p, li, ul, a, button, div{
    font-family: 'Montserrat', sans-serif;
}


body{
    max-width: 900px;
    max-height: 1200px;
    margin: 0 auto;
}

header{
    width: 70%;
    height: 50px;
    border-bottom: 3px dotted burlywood;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
}

header h1{
    font-size: 40px;
    text-align: center;
    color: cadetblue;
}

article{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

.block{
    width: 160px;
    height: 160px;
    border: 3px solid burlywood;
    margin: -2px;
    position: relative;
}

.score{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: burlywood;
    display: none;
}

.score p {
    text-align: center;
}

.below-button{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.startover{
    margin: 0 10px;
    display: inline-block;
    width: 235px;
    height: 50px;
    background-color: cadetblue;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

a{
    position: absolute;
    font-size: 190px;
    left: 50%;
    transform: translate(-50%);
    top: -10%;
    color:cadetblue;
}

.buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.vs{
    background-color: cadetblue;
    font-size: 17px;
    color: white;
    width: 200px;
    height: 30px;
    align-self: center;
    justify-self: center;
    margin: 50px 5px 0 5px;
    cursor: pointer;
    border-radius: 15px;
    display: block;
}

.alert{
    width: 650px;
    height: 100px;
    position: absolute;
    top: 50%;
    font-size: 50px;
    z-index: 80;
    background-color: rgb(255, 145, 0);
    left: 50%;
    transform: translate(-50%, -7%);
    display: none;
}

.gamestart{
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 50px;
    z-index: 99;
    left: 50%;
    transform: translate(-25%, -50%);
    color: rgb(247, 247, 247);
    display: none;
}

.winning{
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 50px;
    z-index: 99;
    left: 50%;
    color: rgb(247, 247, 247);
    transform: translate(-31%, -50%);
    display: none;
}

.startover:hover, .vs:hover{
    background-color: rgb(3, 133, 138);
}

.intro{
    font-size: 20px;
    text-align: center;
    padding: 10px 50px;
    position: absolute;
    top:10%;
    line-height: 30px;
    display: none;
}